<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1 style="text-align:center">{{title}}</h1>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-7">
        <div id = "login">
            <form id="com" name = "nameform">
                    <label for="name">First Name:</label>
                    <input type="name" class="form-control" id="fname" placeholder="Enter First Name" name="fname" required>
                    <p>*Required Field</p>
                    <label for="name">Last Name:</label>
                    <input type="name" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" required>
                    <p>*Required Field</p>
            </form>
            <div id = "Butt" align="center">
                <button type="button" class="btn btn-primary" (click)= "checkName()">Click to Play</button>
            </div>
        </div>

        <div *ngIf = (show) id = "game" align = "center" >
                <app-buttons (messageEvent)="receiveMessage($event)" [bomb] = "bombId"> </app-buttons>
        </div>
    </div>

    <div class="col-sm-5">
      HOLA
    </div>
  </div>
</div>

</body>
</html>
